@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="col-lg-offset-3 col-lg-6" style="padding-top:80px">
        <div class="register-logo">
            <b>Troca de senha</b>
        </div>
        <div class="register-box-body ">
            <p class="login-box-msg">Efetue a troca de sua enha</p>
            <form action="@Url.Action("Dashboardv2", "Dashboard")" method="post">
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="Senha antiga">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="Nova senha">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="Repita a nova senha">
                    <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                </div>

                <div class="row">
                    <div class="col-xs-8">

                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Alterar</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

        </div>
        <!-- /.form-box -->
    </div>
    <!-- /.register-box -->

</div>