
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="height: 0px; margin-bottom:-1500px">
 
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class=" col-lg-12 col-xs-12">

                <!-- DONUT CHART -->
                <div class="box box-warning col-xs-12">
                    <div class="box-header with-border">
                        <h3 class="box-title">Insights</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div id="chartdivInsight" style="height: 500px; width: 100%;"></div>

                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col (LEFT) -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
@section Scripts
{<!-- Chart code -->
<script>
    var insights = am4core;
    insights.ready(function () {

        // Themes begin
        insights.useTheme(am4themes_kelly);
        insights.useTheme(am4themes_animated);
        // Themes end

        // Create chart instance
        var chart = insights.create("chartdivInsight", am4charts.PieChart);

        // Add data
        chart.data = [{
            "insight": "SIM",
            "quantidade": 501.9
        }, {
            "insight": "NÃO",
            "quantidade": 301.9
        }];

        // Add and configure Series
        var pieSeries = chart.series.push(new am4charts.PieSeries());
        pieSeries.dataFields.value = "quantidade";
        pieSeries.dataFields.category = "insight";
        pieSeries.slices.template.stroke = insights.color("#fff");
        pieSeries.slices.template.strokeWidth = 2;
        pieSeries.slices.template.strokeOpacity = 1;

        // This creates initial animation
        pieSeries.hiddenState.properties.opacity = 1;
        pieSeries.hiddenState.properties.endAngle = -90;
        pieSeries.hiddenState.properties.startAngle = -90;

    }); // end am4core.ready()
</script>
}
